{% extends "defaults/base.html" %}


{%block title%}

{{block.super}}: Government Projects

{% endblock title %}



{% block content %}
<div class="main-container">
    {% block main_nav %}
    <div class="projects-nav">
        <h3>Projects</h3>
        <ul>
            <li>
                <a href="">Add Project</a>
            </li>
            <li>
                <a href="">View Project Details</a>
            </li>
            <li>
                <a href="">Compare Projects</a>
            </li>
            <li>
                <a href="">Project Reports</a>
            </li>
        </ul>

    </div>
    {% endblock main_nav %}

    {% block projects_main %}
    <div class="project-list">
        <h1>Government Projects </h1>

        <!-- <ul>
        {% for project in projects %}
        <li>
            <strong>{{ project.title }}</strong>
            Budget: ${{ project.budget }} <br>
            Status: {{ project.status }} <br>

        </li>
        {% empty %}
        <li>No projects available.</li>
        {% endfor %}
    </ul> -->

        <div class="is-project-list">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Budget</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for project in all_projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>GHS {{ project.budget }}</td>
                    <td>{{ project.status }}</td>
                    <td>
                        <a href="{% url 'project_detail' project.pk %}"><i class="fa-solid fa-eye"></i></a>
                        <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No projects available.</td>
                </tr>
                {% endfor %}
            </table>
        </div>


        {% if page.has_other_pages %}
        <div class="pagnation">
            {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}">Previous</a>
            {% endif %}
            <span>
                Page {{page.number}} of {{page.paginator.num_pages}}
            </span>

            {% if page.has_next %}
            <a href="?page={{page.next_page_number}}">Next</a>
            {% endif %}
        </div>
        {% endif %}
    </div>

    {% endblock projects_main %}

</div>





{% endblock content %}