{% extends "projects/project_list.html" %}

{% block title %}
Govsphere : Feedbacks
{% endblock title %}

{% block main_nav %}
    <div class="projects-nav">
        <h3>Feedback</h3><hr>
        <ul>
            <li>
                <a href="{% url 'add_feedback_global' %}">Add Feedback</a>
            </li>
            <li>
                <a href="{% url 'view_project_feedback'%}">View Project Feedbacks</a>
            </li>
        
            <li>
                <a href="">Feedback Reports</a>
            </li>
        </ul>

    </div>
{% endblock main_nav %}

{% block projects_main %}
    <div class="is-project-list">
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Feedback Message</th>
                    <!-- <th>Budget</th> -->
                    <!-- <th>Status</th> -->
                    <th>Actions</th>
                </tr>
                {% for feedback in feedback_list %}
                <tr>
                    <td>{{ feedback.project.title }}</td>
                    <td>{{ feedback.message|truncatewords:20 }}</td>
                    <td>
                        <a href="{% url 'feedback_detail' feedback.pk %}"><i class="fa-solid fa-eye"></i></a>
                        <a href="{% url 'edit_feedback' feedback.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'delete_feedback' feedback.pk %}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No Feedbacks available.</td>
                </tr>
                {% endfor %}
            </table>
            {% if page.has_other_pages %}
        <div class="pagnation">
            {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}">Previous</a>
            {% endif %}
            <span>
                Page {{page.number}} of {{page.paginator.num_pages}}
            </span>

            {% if page.has_next %}
            <a href="?page={{page.next_page_number}}">Next</a>
            {% endif %}
        </div>
        {% endif %}
{% endblock projects_main %}